body {
  margin: 0;
  background-color: #222;
  font-family: sans-serif;
  color: white;
  text-align: center;
  overflow: hidden;
}

canvas {
  display: block;
  margin: auto;
  background-color: #333;
}

#genderSelector {
  margin-top: 100px;
}

#genderSelector button {
  font-size: 20px;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: #444;
  color: white;
  cursor: pointer;
}

#genderSelector button:hover {
  background-color: #666;
}

/* Chat */
#chatBox {
  margin-top: 20px;
}
#messages {
  max-height: 150px;
  overflow-y: auto;
  margin: 10px auto;
  padding: 10px;
  background-color: #111;
  border: 1px solid #333;
  width: 90%;
  max-width: 400px;
  font-size: 14px;
  text-align: left;
}
#chatInput {
  padding: 10px;
  font-size: 16px;
  width: 90%;
  max-width: 400px;
  margin-bottom: 10px;
}

/* Tombol Arah HP */
#dpad {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dpad button {
  font-size: 24px;
  padding: 15px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background-color: #444;
  color: white;
  width: 60px;
  height: 60px;
}
